@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-gradient-text {
      background: linear-gradient(to right, #f3e8ff, #d8b4fe, #f3e8ff);
      background-size: 200% 200%;
      animation: gradient-text 11s linear infinite;
    }
  }
  @keyframes gradient-text {
    0% {
      background-position: 200% 0%;
    }
    50% {
      background-position: -200% 100%;
    }
    100% {
      background-position: 200% 0%;
    }
  }


@layer utilities {
    .animate-button {
      background: linear-gradient(to right, #f11b1b, #fa9494, #f11b1b);
      background-size: 200% 200%;
      animation: gradient-text 11s linear infinite;
      color: white
    }
  }
  @keyframes gradient-text {
    0% {
      background-position: 200% 0%;
    }
    50% {
      background-position: -200% 100%;
    }
    100% {
      background-position: 200% 0%;
    }
  }

  @layer components{
    .sidebar-link{
      @apply flex gap-4 items-center py-4 text-gray-500 hover:text-black;
    }
    
    .sidebar-link.active{
      @apply text-black border-r-2 border-black pl-6 bg-gray-300/50 -ml-6 md:rounded-tl-lg md:rounded-bl-lg max-md:border-none;
    }
  }